mixin about_create()
	
	.about.style-shadow
		.about_title about me
		.about_line.style_line
		.about_form
			.about_container
				.about_content 
					|Hi! I'm a Travellerr  based on Assam.
					br
					| I love editing photos, clicking photos, creating responsive websites alongwith high quality graphics.
				.about_follow 
					span Follow Me
					.about_links
						+menuIcon("about_icon","facebook","#")
						+menuIcon("about_icon","google","#")
						+menuIcon("about_icon","twitter","#")
						+menuIcon("about_icon","instagram","#")
						+menuIcon("about_icon","youtube","#")
			.about_image
				img(src="/assets/about.png")