mixin badges_create()

	mixin badgeContent(json,number)
		if (number % 2 == 0)
			.badges.badges_usual.style_shadow
				+badgeText(json,number)
		else
			.badges.badges_reverse.style_shadow
				+badgeText(json,number)


	mixin badgeText(json,number)
		for path,index in json
			if (index == number)
				.badges_container
					.badges_title
						span= path.title
					.style_line.badges_subtitle= path.subtitle
					.badges_content= path.content
					.badges_form
						.badges_button.style_button__yellow readmore
						.badges_links share
							+menuIcon("badges_icon","facebook","#")
							+menuIcon("badges_icon","twitter","#")
							+menuIcon("badges_icon","instagram","#")
				.badges_image(class= "badges_image_" + number)
	
	
	+badgeContent(badgeTxtJson.content, 0)
	+badgeContent(badgeTxtJson.content, 1)
	+badgeContent(badgeTxtJson.content, 2)
	+badgeContent(badgeTxtJson.content, 3)