mixin fixMenu_create()
	
	mixin createLinks(items)
		for item, index in items
				a.fixMenu_link(href="" + "#" 
						class=(index === 0 ? "fixMenu_title" : "")) #{item}

	ul.fixMenu
		li.fixMenu_size
			+createLinks(["home","blogs","gallery","categories","contact"])