mixin header_create()

	mixin menuLink(name, adress)
		a(href= adress).header_link= name

	mixin menuIcon(className, name, adress)
		a(href= adress)(class= className)
			img(src= "/assets/icon_" + name + ".png")

	.header
		.header_container
			.header_container-logo
				.header_search
					input(placeholder= "Search and hit enter")
					+menuIcon("search","#")
				.header_logo
					img(src="/assets/logo_mountain.png")
				.header_subscribe
					span subscribe
			.header_line.style_line
			.header_container-menu
				.header_menu-links
					+menuLink("home", "#")
					+menuLink("featured", "#")
					+menuLink("BLOGS", "#")
					+menuLink("GALLERY", "#")
					+menuLink("categories", "#")
					+menuLink("contact", "#")
				.header_menu-icons
					+menuIcon("header_icon","facebook","#")
					+menuIcon("header_icon","google","#")
					+menuIcon("header_icon","twitter","#")
					+menuIcon("header_icon","instagram","#")
					+menuIcon("header_icon","youtube","#")
		.header_sliderTop.sliderTop
			+sliderTop_create()