mixin map_create()
	
	.map.style-shadow
		.map_title Where am i
		.map_line.style_line
		.map_map 
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d484861.1897824954!2d23.55903476382197!3d53.62751460744983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd64beac55d1d%3A0xf013fd26569718c0!2z0JPRgNC-0LTQvdC-!5e1!3m2!1sru!2sby!4v1545226538548" width="560" height="760" frameborder="0" style="border:0" allowfullscreen)