doctype html
html
	head
		meta(charset="UTF-8")
		title Final course's project by Sinkevich Denis

		link(rel="stylesheet" type="text/css" href="./style/style.css")
		link(rel="stylesheet" type="text/css" href="/libs/bootstrap/bootstrap.css")
	body
		.body_container
			block body
		script(src="/libs/jquery/jquery.js")
		script(src="/libs/bootstrap/bootstrap.js")
		script(src="/js/main.js")
		script(src="/js/component/_sliderTop.js")

