@mixin block_create()
		width: 90%

		margin: 15px

		background-color: $backColorBlocks
		box-shadow: $shadowBlocks

		display: flex
		flex-direction: column
		align-items: center
		

		&_line
			position: relative
			z-index: 1
		
			width: 80%
			top: 20px

		&_title
			position: relative
			z-index: 5

			width: 200px
			height: 50px
			line-height: 50px

			top: 45px
			background-color: $backColorBlocks

			color: $colorFontMain
			font-family: "Myriad-Pro"
			font-size: 30px
			text-transform: uppercase
			text-align: center
	
.map
	@include block_create()
	height: 900px
	&_line
		height: 80px
	&_map
		width: 90%
		
		iframe
			position: relative
			z-index: 10
			top: -30px
			width: 100%
			height: 760px
			border: 0

		




