//var to all page
$widthBody: 1900px
$backImageImage: "/assets/page_backgroud2.png"
$shadowBlocks: 0 14px 26px 3px rgba(0, 0, 0, 0.24)
$backColorYellow: #ffc908
$backColorBlocks: #ffffff

$colorPlaceholder: #a8aeae
$colorFontMain: #242929
$colorFontFocus: #ffc908
$colorFontLight: #ffffff

//var to Header_Menu
$heightHeader: 314px
$heightBlockMenu: 60px
$widthMaxHeader: 1100px

$backColorHeader: #ffffff
$marginHeader: 0 20px

//var to SliderTop
$maxHeightSlider: 900px
$minHeightSlider: 470px
$maxWidthSlider: 1900px
$minWidthSlider: 1000px

body
	padding: 0
	margin: 0

	display: flex
	justify-content: center
	
	background-image: url($backImageImage)

	.#{&}_container
		max-width: $widthBody
		
		box-shadow: 0 0 20px rgba(0,0,0,0.7)
		background-color: $backColorBlocks

a
	text-decoration: none

.main
	display: flex
	height: calc(100% - 1520px)

.content
	width: calc(100% - 50px)
	height: 2270px
	background-color: yellow

	&_screen
		width: 75%

.footer
	width: 100%
	height: 300px
	background-color: red



@mixin triangle($size, $color)
	content: ""
	position: absolute
	width: 0
	height: 0
	border: $size solid transparent
	border-top:  $size solid $color
	border-right: $size solid $color
 