doctype html
html
	head
		meta(charset="UTF-8")
		title Final course's project by Sinkevich Denis

		link(rel="stylesheet" type="text/css" href="./style/style.css")
	body
		block body
		script(src="/js/main.js")
