extend ./component/_template.pug
include ./component/_header.pug
include ./component/_sliderTop.pug
include ./component/_sidebar.pug
include ./component/_map.pug
include ./component/_login.pug
include ./component/_about.pug
include ./component/_badges.pug
include ./component/_sliderBottom.pug
include ./component/_footer.pug


block body
	+header_create()
	.main
		+sidebar_create()
		.content
			+badges_create()
	+footer_create()